@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    
}

.headSup {
    background-color: #1CD1B0;
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: 400;

}

.headInf {
    background-color: #00669F;
    width: 100%;
    height: 101px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;

}


.container {

    display: flex;
    margin: 0 auto;
    width: 80%;
    height: 55.375rem;
    align-content: center;
    align-items: center;
    justify-content: space-between;


}

.batman { 
    
    
    width: 300px;
    height: 529;
    
}

.harley {
    width: 300px;
    height: 529;
}

section div {
    display: flex;
    position: relative;
    box-sizing: border-box;
    background-color: #f3f3f3;
    box-shadow: 0px 4px 4px 0px #00000040;
    height: 60%;  
    flex-direction: column;  
    justify-content: space-around;
    align-items: center;
    border-radius: 20 0 0 0px;
    flex-
    
    
    
}

.perfil {
    left: 30%;
    top: 32%;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    
}

div h2 p 
    display: flex;
    margin: 10px;
    position: absolute;
    bottom: 20%;
    text-align: center;
    flex-direction: column;
    

}

div p {
    
}

.batitulo {
    text-transform: uppercase;
}

.hartitulo {
    text-transform: capitalize;
}

button {
    position: absolute;
    align-content: center;
    bottom: 30px;
}

.backperfil {
    width: 300px;
    height: 40%;
}






