
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Roboto', sans-serif;
}

.headerSuperior {
    background-color: #222222;
    color: white;
    height: 20px;
    width: 100%;
    font-size: 10px;
    display: flex;
    
    
}

.headerSuperiorIzq { 

    position: absolute;
    margin-left: 10px;
    width: auto;
    top: 5px;
    left: 10px;

}

.headerSuperiorDer { 

  padding-right: 30px;
  width: auto;
  top: 5px;
  left: 1200px;
  position: absolute;

}

.header {
    background-color:#F0A83E;
    display: flex;
    height: 62px;



}

.divSlide {
    width: 100%;
    height: 409px;
    background-image: url(../IMG/plato.png);
    background-repeat: no-repeat;
    background-size: cover;

}
li{
    display: inline;
    padding: 8px;
    list-style: none;

}

.gatoperro {

    width: 20px;
    height: 20px;

}

.frontlogo{

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: #3C2313;

}

.catdog{

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;

}

#imgslide {

width: 100%;

}

.pslide1 {

    background-color: #FFFFFF;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    line-height: 35px;
    width: auto;
    height: 33px;
    left: 970px;
    top: 200px;
    padding: 10px;
    text-align: center;
    position: absolute;

}

.pslide2 {
    
    color: #3C2313;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    left: 1060px;
    line-height: 19px;
    position: absolute;
    text-align: center;
    top: 280px;
    

}

.pslide3 {

    color: #FFFFFF;
    border: 0px;
    border-radius: 5px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    left: 1100px;
    line-height: 19px;
    position: absolute;
    text-align: center;
    top: 320px;
    background-color: #F0A83E;
    width: auto;
    padding: 5px;
    text-transform: uppercase;

}

.seccionproductos{

    display: flex;
   
    position: absolute;
   

}

.divsection {
display: flex;
    justify-content: center;
}

.article {
    text-align: center;


}

#center {

    margin-top: 20px;

}

.logo {
    position: absolute;
    left: 10px;
    top: 35px;
}

nav {
    position: absolute;
    top: 43px;
    left: 700px;
}

.inputs {
    display: contents;
    background-size: cover;
    background-color: rgba(black, black, black, 0.8);
    
    
  
}

}