
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Roboto', sans-serif;
}

.headerSuperior {
    background-color: #222222;
    color: white;
    height: 20px;
    width: 100%;
    font-size: 10px;
    display: flex;
    
    
}

.headerSuperiorIzq { 

    
    margin-left: 10px;
    width: 950px;

}

.headerSuperiorDer { 

  padding-right: 30px;
  width: auto;


}

.header {
    background-color:#F0A83E;
    display: flex;
    height: 62px;



}

.divSlide {
    width: 100%;
    height: 409px;
    background-image: url(../IMG/plato.png);
    background-repeat: no-repeat;
    background-size: cover;

}
li{
    display: inline;
    padding: 8px;
}

.gatoperro {

    width: 20px;
    height: 20px;

}

.frontlogo{

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: #3C2313;

}

.catdog{

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;

}

#imgslide {

width: 100%;

}

.pslide1 {

    background-color: #FFFFFF;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    line-height: 35px;
    width: 365px;
    height: 33px;
    left: 950px;
    top: 150px;
    padding-top: 40px;
    position: absolute;

}

.pslide2 {



}

.pslide3 {



}