
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

body {

    font-family: 'Roboto', sans-serif;
}

.headerSuperior {
    background-color: #222222;
    color: white;
    height: 20px;
    width: 100%;
    font-size: 10px;
    
}

.spanIntHeadSup1 { 

    color: white;
    text-align: right;


}

.spanIntHeadSup2 { 

    color: white;
    text-align: right;


}